* {
    padding: 0;
    margin: 0;
    height: auto;
}

.Root {
    padding: 0;
    background-color: rgb(252, 252, 251);
}

.header {
    height: auto;
    width: 100%;
    /* background-image: url(images/bg2.jpg); */
    background-size: cover;
    background-position: center;
    background-color: #fff;
    margin-bottom: 1%;
    overflow: hidden;

}

.conatiner {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 1% 5%;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}

nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0.625rem 5%;
}

nav h1 {
    font-size: xx-large;
    color: rgb(37, 196, 196);
}

/* nav h1 img {
    width: 3.125rem;
} */

/* ---------------------css navbar for menu--------------------- */
nav .fa {
    display: block;
    font-size: 1.6rem;
    float: right;
    color: rgb(37, 196, 196);
}

nav ul {
    background: #747272;
    position: fixed;
    top: 0;
    right: 0rem;
    height: 100vh;
    width: 15.625rem;
    padding-top: 3.05rem;
    z-index: 2;
    transition: right 0.5s;
    overflow: hidden;   
}

nav ul li {
    display: block;
    margin: 1.6rem;
}

nav ul li span {
    float: right;
    color: #fff;
}

nav ul .fa {
    left: 1.6rem;
    cursor: pointer;
    color: #FFF;
    float: right;
    margin-top: -1.875rem;
    margin-right: 1.3rem;
}


nav ul li a {
    color: rgb(238, 231, 231);
    text-decoration: none;
    font-size: 1rem;
}

/* ----------------end navbar------------------- */
.container-2 {
    width: 100%;
    padding: 0.625rem;
    height: 37.5rem;
    box-sizing: border-box;
    background-image: radial-gradient(rgba(80, 200, 209, 0.7), rgb(35, 109, 109)), url(/Assets/images/bg2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}


.container-2 h1 {
    font-style: italic;
}

.container-2 .container-col-2 {
    margin-top: 18.75rem;
    /* margin-bottom: 1.25rem; */
    color: black;
}

.container-col-2 {
    text-align: center;
    color: black;
    margin-top: 4.375rem;
    margin-bottom: 1.25rem;
    /* float: left; */
}



/* ---------------main-content------------------- */

.main-contain {
    padding: 0;
    /* background-color: #fff; */
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

/* --------------row-1--------------- */
.row-1 {
    background-color: rgb(252, 250, 250);
    height: auto;
    width: 100%;

}

.row-2 {

    height: 31.25rem;
    width: 100%;
}

.column-1 {
    display: inline-flex;
    justify-content: space-between;
    padding: 0.625rem 0.3125rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0.625rem 0.3125rem 0.625rem 0.5rem;
}

.column-1 img {
    /* display: gr; */
    width: 31rem;
    height: 18.75rem;
    float: left;
}

.column-2 {
    width: 100%;
    display: flex;
    padding: 0.625rem 10%;
    flex-basis: 1.875rem;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
}

.column-2 div {
    display: inline-block;
    flex-basis: 0.3125rem;
    justify-content: space-between;
    padding: 0.625rem 5%;
    box-sizing: border-box;
}

.column-2 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(125, 228, 228);
}

.column-2 b {
    color: rgb(64, 79, 109);
    font-size: 0.9375rem;

}

/* -----------row -2--------------- */
.row-2 {
    background-color: #f0f2f5;
    height: auto;
    margin-bottom: 0.625rem;
    padding: 1.875rem 0.625rem;
    width: 100%;
    box-sizing: border-box;
}

.row-2 h1 {
    text-align: center;
    margin-top: 1.25rem;
}

.para {
    font-size: 1.0625rem;
}



/* ----------------row-4------------- */
.row-4 {
    background-color: #fff;
    text-align: center;
    margin: 1.25rem auto;
    box-sizing: border-box;
    width: 100%;

}

/* ---------css for slider------------  */
.row-col-1 {
    /* max-width: 67.5rem; */
    margin: 1.25rem;
    width: auto;
    height: 6.25rem;
    position: relative;
    overflow: hidden;
}

/* .row-col-2 {
    justify-content: space-evenly;
    width: 100%;


} */



/* ---------brands--------- */
.row-col-1 .row-col-2 {
    
    animation: scroll 15s linear infinite;
    display: flex;
    width: calc(22.8125rem * 6);

    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(278px * 6);
}

.row-col-1 .col-5 {
    height: 6.25rem;
    width: 13.75rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-14.375rem *5));
    }
}

.col-5 {
    width: 10rem;
    display: flex;
    justify-content: space-around;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

/* -------------though center--------- */
.row-5 {
    padding: 1.875rem 0.625rem;
    background-color: #fff;
}

.sub-title {
    text-align: center;
}

.row-5 {
    margin-bottom: 0.0625rem;
    background-color: #f0f2f5;
}

.though-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    grid-gap: 1.25rem;
    margin-top: 3.125rem;

}

.though-center div {
    Background-color: rgb(125, 228, 228);
    padding: 1.25rem;
    font-size: 0.8125rem;
    font-weight: 300;
    border-radius: 0.625rem;
    transition: background 0.5s, transform 0.5s;
}

.though-center div i {
    font-size: 3.125rem;
    margin-bottom: 1.875rem;
}

.though-center div h2 {
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}

.though-center div a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9375rem;
    margin-top: 1.25rem;
    display: inline-block;
}

.though-center div:hover {
    background-color: black;
    transform: translateY(-0.625rem);
    color: white;

}
.though-center p{
    font-size: 1rem;
}

.though-center a .fa {
    color: black;
    width: 0.3125rem;
    height: 0.3125rem;
}

.though-center a .fa:hover {
    color: white;
    width: 0.3125rem;
    height: 0.3125rem;
}

/* --------------about us--------------- */
.column {
    display: flex;
       justify-content: space-between;
    padding: 0.625rem 2.5rem 0.625rem 2.5rem;
    box-sizing: border-box;

}

.col-1 {
    margin: 0.625rem 0.625rem;
    width: 15%;
}

.col-1 h2 {
    color: rgb(48, 126, 126);
}

.col-1 i {
    font-size: 3.125rem;
    color: rgb(48, 126, 126);
}

.col-3 {

    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3.125rem;
    margin-bottom: 0.625rem;
}
.col-3 div{
    width: 100%;
    padding: 0.625rem 1.25rem;
}

.row-col-3 .row-col-4{
    display: flex;
}

/* .row-col-3 div{
    /* display: flex; 
    margin: 0rem 0rem;
}

.row-col-4 div{
    /* display: flex; 
    margin: 0rem 0rem;
} */

.row-col-3 .content{
width:100%;
}

.row-col-4 {
    display: flex;
}

.row-col-3 .content {
    width: 100%;
}

.row-col-4 .content {
    width: 100%;
}

.row-col-3 h2 {
    color: rgb(48, 126, 126);
}

.row-col-4 h2 {
    color: rgb(48, 126, 126);
}

/* .row-3 {
    /* background-color:rgb(64, 79, 109) ; */
/* } */ 

.row-3 h1 {
    text-align: center;
    margin-top: 1.25rem;
    color: rgb(48, 126, 126);

}

.container-3 {
    width: 100%;
    padding: 0.625rem;
    height: 37.5rem;
    box-sizing: border-box;
    background-image: radial-gradient(rgba(80, 200, 209, 0.7), rgb(35, 109, 109)), url(/Assets/images/bg2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow: hidden;

}

.container-3 h1 {
    margin-top: 18.75rem;
}
.col-div-1 img{
    margin-top: 13.125rem;
    width: 33.125rem;
   
}

.column-1 .col-div-1 {
    width: 30%;

}

.column-1 .col-div-2 {
    width: 60%;
}



/* --------------footer--------------- */
.footer {
    background-color: rgb(217, 229, 235);
    height: auto;
    color: #8a8a8a;
    font-size: 0.875rem;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    box-sizing: border-box;
    margin-top: 8%;
    width: 100%;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
}


/* .conatiner-f{
    display: flex;
    justify-content: space-between;
    width: 100%;

} */
.footer a {
    text-decoration: none;
    font-size: 0.9375rem;
}

.footer-col-2 {
    margin-top: 3%;
}

.footer-col-1 h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.social-icon a{
    display: inline-flex;
    margin: 0.5rem;
}

.social-icon .fa {
    font-size: 1.5rem;
}

.footer .row-f {
    display:flex;
    width: 100%;
    justify-content: space-between;
}


.links {
    font-size: 3.75rem;
    font-weight: 700;
    color: black;
    align-items: center;
    padding-left: 2rem;
}

.footer ul li {
    text-decoration: none;
    list-style-type: none;

}


/* ----------copyright section---------- */
.copyright {
    background-color: rgba(46, 67, 68, 0.7);
    padding: 0.625rem 10%;
    text-align: center;
}

.useful-links a {
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    color: black;

}

.copyright-msg {
    text-align: center;
    margin-top: 0.625rem;
}

/* -----------contact us----------- */
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;

}
/* .row {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: baseline;

} */
.contact-col{
	flex-basis: 48%;
	margin-bottom: 1.875rem;
}
.contact-col div{
	display: flex;
	align-items: center;
	margin-bottom: 2.5rem;
}
.contact-col div .fa{
	font-size: 1.25rem;
	color: rgb(83, 204, 204);
	margin: 0.625rem;
	margin-right: 1.875rem;
}

.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 0.0625rem solid;
	padding: 0.75rem 2.125rem;
	font-size: 0.8125rem;
	background: transparent;
	position: relative;
	cursor: solid;
}

.hero-btn:hover {
	border: 0.0625rem solid;
	background-color:rgb(125, 228, 228); 
	transition: 1s;
	color: black;
}
.contact-col div  h5{
	font-size: 1.25rem;
	margin-bottom: 0.3125rem;
	color: #555;
	font-weight: 400;
}
.comment-formc input, .comment-formc textarea{
	width: 100%;
	padding: 0.9375rem;
	margin-bottom: 1.0625rem;
	outline: none;
	border: 0.0625rem solid #ccc;
	box-sizing: border-box;
}


@media only screen and (max-width :37.5rem) {

    .header {
        font-size: 0.75rem;
    }

    .header h1 {
        font-size: 1.875rem;
    }

    nav .fa {
        display: block;
        font-size: 1.5625rem;
    }

    nav ul {
        background: #747272;
        position: fixed;
        top: 0;
        right: -12.5rem;
        height: 100vh;
        width: 12.5rem;
        padding-top: 3.125rem;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 1.5625rem;
    }

    nav ul.fa {
        position: absolute;
        top: 1.5625rem;
        left: 1.5625rem;
        cursor: pointer;
    }

    nav ul li a {
        color: rgb(238, 231, 231);
        text-decoration: none;
        font-size: 1rem;
    }

    .column-2 {
        display: grid;
        width: 100%;
        box-sizing: border-box;
        margin-top: 0.625rem;
        margin-left: 30%;
        text-align: center;
    }

    .column-2 h2 {
        font-size: 2.5rem;
        font-weight: 600;
        color: rgb(52, 112, 223);
    }

    .column-2 b {
        color: rgb(64, 79, 109);
        font-size: 1.125rem;

    }

    .row-5 {
        width: 100%;
    }

    .though-center div {
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;

    }

    .though-center {
        display: block;
        width: 60%;
        align-items: center;
        padding: 0.625rem 20%;

    }
}
